/*Sets Background*/

body {
    background: linear-gradient(110deg, #684EDE 30%, #CDFF42);
    padding-top: 20vh;
}



/* The Overlay Design
Referenced: https://www.w3schools.com/howto/howto_js_fullscreen_overlay.asp
*/


/*Sets font for text in Overlay*/

body {
    font-family: 'Lato', sans-serif;
}


/*Sets overlay location and color*/

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    text-align: center;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}


/*Overlay style*/

.overlay-content {
    position: relative;
    top: 2%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}


/*Overlay text design*/

.overlay a {
    padding: 15px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}


/*Highlights letters when hovered over*/

.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}



