/*Sets Background*/

body {
    background: linear-gradient(110deg, #684EDE 30%, #CDFF42);
    padding-top: 20vh;
}


/*Makes navbar stay fixed to top of screen*/

.navbar {
    overflow: hidden;
    background: #333;
    position: fixed;
    top: 0;
    left: 95%;
}

.navbar a {
    /*this class does navbar design (excluding background)*/
    /* found navbar design from youtube video*/
    height: 20px;
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-family: calibri;
}


/*Changes button color when hovered over*/

#button:hover {
    background: #684EDE;
    transition: all .4s ease;
}


/* The Overlay Design
Referenced: https://www.w3schools.com/howto/howto_js_fullscreen_overlay.asp for overlay design
*/


/*Sets font for text in Overlay*/

body {
    font-family: 'Lato', sans-serif;
}


/*Sets overlay location and color*/

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    text-align: center;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}


/*Overlay style*/

.overlay-content {
    position: relative;
    top: 2%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}


/*Overlay text design*/

.overlay a {
    padding: 15px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}


/*Highlights letters when hovered over*/

.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}