<!--Connects html doc to layout doc-->
{% extends "layout.html" %}
{% block head %}
    {{ super() }}

<head>
    <link rel="stylesheet" type="text/css" href="static/styles_profile.css" media="screen" />
</head>

<div class="btn-group ">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Themes
  </button>
  <div class="dropdown-menu">
    <!-- Dropdown menu links -->
        <a class="dropdown-item" href="/profile_page">Purple</a>
        <a class="dropdown-item" href="/profile_page_red">Red</a>
        <a class="dropdown-item" href="/profile_page_green">Green</a>
        <a class="dropdown-item" href="/profile_page_teal">Teal</a>

  </div>
</div>




<form action = "{{ url_for('create_profile')}}" method = "POST" class = 'create_profile' enctype = "multipart/form-data">
        <!-- header section-->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="empty_profile">
                    <img src="static/empty_profilepic.png" class="img-responsive img-circle" alt="templatemo easy profile">


                            <input type = "file" name = "file" id = 'file' />
                    </div>
                    <hr>

                    <h1 class="tm-title bold"><input type="text" class="form-control" name="name" placeholder="First Name - Last Name"></h1>
                    <h1 class="white bold"><input type="text" class="form-control" name="job" placeholder="Job Title"></h1>



                    </div>

            </div>
        </div>
    </header>
        <!-- about and languages section -->
    <section class="container">
        <div class="row">
            <div class="col-8">
                <div class="about">
                    <h3 class="accent">Schooling</h3>
                    <h4><input type="text" class="form-control" name="school1" placeholder="First School"></h4>
                    <p><input type="text" class="form-control" name="school1_info" placeholder="Duration and Info"></p>
                    <h4><input type="text" class="form-control" name="school2" placeholder="Second School"></h4>
                    <p><input type="text" class="form-control" name="school2_info" placeholder="Duration and Info"></p>
                    <h4><input type="text" class="form-control" name="school3" placeholder="Third School"></h4>
                    <p><input type="text" class="form-control" name="school3_info" placeholder="Duration and Info"></p>
                </div>
            </div>
            <div class="col-4">
                <div class="languages">
                    <h2>Languages</h2>
                    <ul>
                        <li><input type="text" class="form-control" name="language1" placeholder="Language 1"></li>
                        <li><input type="text" class="form-control" name="language2" placeholder="Language 2"></li>
                        <li><input type="text" class="form-control" name="language3" placeholder="Language 3"></li>
                        <li><input type="text" class="form-control" name="language4" placeholder="Language 4"></li>
                        <li><input type="text" class="form-control" name="language5" placeholder="Language 5"></li>
                        <li><input type="text" class="form-control" name="language6" placeholder="Language 6"></li>
                        <li><input type="text" class="form-control" name="language7" placeholder="Language 7"></li>
                    </ul>
                </div>
        </div>
        </div>
    </section>
    <br>
           <!-- education and contact section -->
    <section class="container">
        <div class="row">
            <div class="col-8">
                <div class="experience">
                    <h2 class="white">Experiences</h2>
                    <div class="experience-content">
                        <h4 class="experience-title accent"><input type="text" class="form-control" name="exp1" placeholder="Job Title"></h4>
                        <h5><input type="text" class="form-control" name="company1" placeholder="Company"></h5><span></span>
                        <h5><input type="text" class="form-control" name="dur1" placeholder="Duration of Employment"></h5>
                        <p class="education-description"><input type="text" class="form-control" name="desc1" placeholder="Description of Employment"></p>

                        <h4 class="experience-title accent"><input type="text" class="form-control" name="exp2" placeholder="Job Title"></h4>
                        <h5><input type="text" class="form-control" name="company2" placeholder="Company"></h5><span></span>
                        <h5><input type="text" class="form-control" name="dur2" placeholder="Duration of Employment"></h5>
                        <p class="education-description"><input type="text" class="form-control" name="desc2" placeholder="Description of Employment"></p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                  <div class="contact">
                    <h2>Contact</h2>
                    <p><i class="fa fa-map-marker"></i><input type="text" class="form-control" name="address" placeholder="Address"></p>
                    <p><i class="fa fa-phone"></i><input type="text" class="form-control" name="phone" placeholder="Phone Number: XXX-XXX-XXX"></p>
                    <p><i class="fa fa-envelope"></i><input type="text" class="form-control" name="email" placeholder="E-mail Address"></p>
                    <p><i class="fa fa-globe"></i><input type="text" class="form-control" name="website" placeholder="Website"></p>
                </div>
                <input type="submit" value="Share" class="btn btn-primary">
            </div>
            </div>
        </div>
    </section>


    </form>

<br><br><br>




{% endblock %}

</html>