<html>
{% extends "layout.html" %}
{% block head %}
    {{ super() }}
<head>
    <link rel="stylesheet" type="text/css" href="static/styles_edit.css" media="screen" />
</head>


<div class = "page">

<ul class="resume_entries">
  {% for entry in resume_entries %}

    <li class="list-unstyled">
    <form action = "{{ url_for('edit_resume')}}?id={{ entry.id }}" method = "POST" class = 'create_resume'>

      <dt>Name:
      <dd><input type="text" size="30" name="name" value = "{{ entry.name }}">
      <dt>Age:
      <dd><input type="text" size = "30" name = "age" value = "{{ entry.age }}">
      <dt>Work Experience:
      <dd><input type="text" size = "30" name = "work_exp" value = "{{ entry.work_exp }}">
      <dt>High School Education:
      <dd><input type="text" size = "30" name = "education_hs" value = "{{ entry.education_hs }}">
      <dt>College Education:
      <dd><input type="text" size = "30" name = "education_college" value = "{{ entry.education_college }}">
      <dt>Graduated:
      <dd><input type="text" size = "30" name = "graduated" value = "{{ entry.graduated }}">

      <dt>Skills:
      <dd><input type="text" size = "30" name = "skills" value = "{{ entry.skills }}">
      <dt>Awards or Special Recognitions:
      <dd><input type="text" size = "30" name = "awards" value = "{{ entry.awards }}">
      <dt>Contact Info:
      <dd><input type="text" size = "30" name = "contact" value = "{{ entry.contact }}">
                <input type = 'hidden' name = 'id' value = "{{ entry.id }}">
          <br><br><br><dd><input type="submit" value="Submit" class="btn btn-primary">


  </form>
  {% else %}
    <li><em>Unbelievable.  No entries here so far</em></li>
  {% endfor %}
  </ul>
{% endblock %}
</div>
</html>
