<head>
    <title>Login Page</title>
    <link href="static/styles_login.css" rel="stylesheet" type="text/css">
</head>

<!--Classes connect to CSS file for styling-->
<div class="format-loginbox">
    <div class="logo-img"></div>
    <dl class="format-text">
        <dd class="login-text">
            <h2>Login</h2>
            <!--Code for flashing function-->
            {% for message in get_flashed_messages() %}
            <div class="flashes">{{ message }}</div>
            {% endfor %}
        </dd>

        <!--Inputs for username and password-->
        <form action="{{ url_for('login') }}" method="post">
            <input name="username" id="username" placeholder="Username" required>
            <input type="password" name="password" id="password" placeholder="Password" required>
            <input type="submit" value="Log In">
        </form>

            <dd>Don't have an Account? <a href="{{ url_for('signup') }}">Sign up</a></dd>
            <!--Will be link for if users forget their password-->
            <dd class="forget">Forget Password?</dd>
    </dl>
</div>