<html>
<!--Connects html doc to layout doc-->
{% extends "layout.html" %}
{% block head %}
    {{ super() }}

<head>
    <link rel="stylesheet" type="text/css" href="static/styles_profile.css" media="screen" />
</head>

<body>
<!--Used for reference https://simplesharebuttons.com/html-share-buttons/-->

    <div class="share-buttons" >

    <!-- Email -->
        <div><a href="mailto:?&amp;Body=My name is ____. You can view my portfolio here http://127.0.0.1:5000/">
        <img src="static/email.png" alt="email logo"/>
        </a></div>

        <!-- LinkedIn (Not real domain as profile_page.html is not a valid URL) -->
        <div><a href="http://www.linkedin.com/shareArticle?&amp;url=https://php.iwu.edu/directory/employees.php?netid=mliffito">
        <img src="static/linkedin.png" alt="email logo"/>
        </a></div>

        <!-- Google+ (Not real domain as profile_page.html is not a valid URL) -->
        <div><a href="https://plus.google.com/share?url=https://php.iwu.edu/directory/employees.php?netid=mliffito" target="_blank">
        <img src="static/google.png" alt="email logo"/>
        </a></div>

{% endblock %}
    </div>
</body>
</html>
