<html>
<!--Connects html doc to css doc-->

<head>
    <link rel="stylesheet" type="text/css" href="static/styles_profile.css" media="screen" />
</head>


<body>
    <div id="myNav" class="overlay">

        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a id="button">View Posts</a>
        <a id="button">Generate Portfolio</a>
        <a id="button">Generate Resume</a>
        <a id="button">Upload Project</a>
        <a id="button">Upload Resume</a>
        <a id="button">Profile Settings</a>
    </div>

    <div class="navbar">
        <span onclick="openNav()"><a id="button">&#9776;</a></span>
    </div>


</body>

<!--Used for reference https://simplesharebuttons.com/html-share-buttons/-->

    <div class="share-buttons" >

    <!-- Email -->
    <form><a class="button1"><a href="mailto:?&amp;Body=My name is ____. You can view my portfolio here http://127.0.0.1:5000/">
        <img src="https://simplesharebuttons.com/images/somacro/email.png" alt="Email" />
    </a><form>

        <!-- LinkedIn (Not real domain as profile_page.html is not a valid URL) -->
    <form><a href="http://www.linkedin.com/shareArticle?&amp;url=https://php.iwu.edu/directory/employees.php?netid=mliffito">
        <img src="https://simplesharebuttons.com/images/somacro/linkedin.png" alt="LinkedIn"/>
    </a></form>

        <!-- Google+ (Not real domain as profile_page.html is not a valid URL) -->
    <form><a href="https://plus.google.com/share?url=https://php.iwu.edu/directory/employees.php?netid=mliffito" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/google.png" alt="Google" />
    </a></form>

</div>


<script>
    function openNav() {
        document.getElementById("myNav").style.width = "100%";
    }

    function closeNav() {
        document.getElementById("myNav").style.width = "0%";
    }
</script>

</html>
