
<!--Connects html doc to layout doc-->
{% extends "layout.html" %}
{% block head %}
    {{ super() }}

<head>
    <link rel="stylesheet" type="text/css" href="static/styles_profile_teal.css" media="screen" />
</head>

    <!-- Themes Dropdown button -->
<div class="btn-group ">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Themes
  </button>
  <div class="dropdown-menu">
    <!-- Dropdown menu links -->
        <a class="dropdown-item" href="/profile_page">Blue</a>
        <a class="dropdown-item" href="/profile_page_red">Red</a>
        <a class="dropdown-item" href="/profile_page_green">Green</a>
        <a class="dropdown-item" href="/profile_page_teal">Teal</a>

  </div>
</div>

<!--Used for reference https://simplesharebuttons.com/html-share-buttons/-->

    <!-- Email -->

    <div class="share-button1"><a href='mailto:?&amp;Body=Hello, my name is ___. You can view my portfolio here http://127.0.0.1:5000/'>
        <img src="static/email.png" alt="email logo"/>
        </a></div></div>


        <!-- LinkedIn (Not real domain as profile_page.html is not a valid URL) -->

    <div class="share-button2"><a href="http://www.linkedin.com/shareArticle?&amp;url=https://php.iwu.edu/directory/employees.php?netid=mliffito" >
        <img src="static/linkedin.png" alt="email logo"/>
        </a></div></div>

        <!-- Google+ (Not real domain as profile_page.html is not a valid URL)-->
    <div class="share-button3"><a href="https://plus.google.com/share?url=https://php.iwu.edu/directory/employees.php?netid=mliffito" target="_blank">
        <img src="static/google.png" alt="email logo"/>
        </a></div>


    <!--Profile Display-->
    <!-- Help from Profile Template http://www.templatemo.com/tm-467-easy-profile -->



    <!-- header section-->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="empty_profile">
                        <!--Will give users the ability to upload profile pic in next iteration use this resource https://stackoverflow.com/questions/13350781/how-to-allow-users-to-add-image-for-their-profile-->
                    <img src="static/empty_profilepic.png" class="img-responsive img-circle" alt="templatemo easy profile">
                    </div>
                    <hr>
                    <h1 class="bold" style="color: #000000">Hi, I am UsersName</h1>
                    <h1 class="white bold">JobTitle</h1>

                    <!--Where resume will go for resume preview (Has placeholder currently waiting for Noahs resume display feature to be completed)-->
                    <div id="prev" class="prevOverlay">
        <a href="javascript:void(0)" class="closebtn" onclick="closePrev()">&times;</a>
        <img src="static/empty_profilepic.png"/>
    </div>
<!--Resume preview button-->
    <div class="prev">
        <span  onclick="openPrev()" class="btn btn-dark"><a id="button">Preview Resume</a></span>
    </div>
</div>
            </div>
        </div>
    </header>

    <!-- about and languages section -->
    <section class="container">
        <div class="row">
            <div class="col-8">
                <div class="about">
                    <h3 class="white">About Me</h3>
                    <h2 class="white">List School</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
            </div>
            <div class="col-4">
                <div class="languages">
                    <h2>Languages</h2>
                    <ul>
                        <li>Python</li>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>C++</li>
                    </ul>
                </div>
        </div>
        </div>
    </section>
    <br>

    <!-- education and contact section -->
    <section class="container">
        <div class="row">
            <div class="col-8">
                <div class="experience">
                    <h2>Experiences</h2>
                    <div class="experience-content">
                        <h4>Website Development</h4>
                        <h5>New Media Company</h5><span></span>
                        <h5>2015 January - 2020 April</h5>
                        <p class="education-description">Cras porta tincidunt sem, in sollicitudin lorem efficitur ut. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.</p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                  <div class="contact">
                    <h2>Contact</h2>
                    <p><i class="fa fa-map-marker"></i> 123 Some Road, Bloomington</p>
                    <p><i class="fa fa-phone"></i> 123-456-7890</p>
                    <p><i class="fa fa-envelope"></i> some@gmail.com</p>
                    <p><i class="fa fa-globe"></i> www.company.com</p>
                </div>
            </div>
            </div>
        </div>
    </section>

<br><br><br>


    <!-- JavaScript for resume preview button-->
<script>
    function openPrev() {
        document.getElementById("prev").style.width = "100%";
    }

    function closePrev() {
        document.getElementById("prev").style.width = "0%";
    }
</script>


{% endblock %}
    </div>
</body>
</html>
