
<!--Connects html doc to layout doc-->
{% extends "layout.html" %}
{% block head %}
    {{ super() }}

<head>
    <link rel="stylesheet" type="text/css" href="static/styles_profile_red.css" media="screen" />
</head>




    <div class="btn-group ">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Themes
  </button>
  <div class="dropdown-menu">
    <!-- Dropdown menu links -->
        <a class="dropdown-item" href="/profile_page">Blue</a>
        <a class="dropdown-item" href="/profile_page_red">Red</a>
        <a class="dropdown-item" href="/profile_page_green">Green</a>
        <a class="dropdown-item" href="/profile_page_teal">Teal</a>
    </div>
  </div>


    <div class="share-button1"><a href='mailto:?&amp;Body=Hello, my name is ___. You can view my portfolio here http://127.0.0.1:5000/'>
        <img src="static/email.png" alt="email logo"/>
        </a></div></div>


        <!-- LinkedIn (Not real domain as profile_page.html is not a valid URL) -->

    <div class="share-button2"><a href="http://www.linkedin.com/shareArticle?&amp;url=https://php.iwu.edu/directory/employees.php?netid=mliffito" >
        <img src="static/linkedin.png" alt="email logo"/>
        </a></div></div>

        <!-- Google+ (Not real domain as profile_page.html is not a valid URL)-->
    <div class="share-button3"><a href="https://plus.google.com/share?url=https://php.iwu.edu/directory/employees.php?netid=mliffito" target="_blank">
        <img src="static/google.png" alt="email logo"/>
        </a></div>





        <!-- header section-->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="empty_profile">
                        <!--Will give users the ability to upload profile pic in next iteration use this resource https://stackoverflow.com/questions/13350781/how-to-allow-users-to-add-image-for-their-profile-->
                    <img src="/docs/pic{{ profiles.id }}" class="img-responsive img-circle" alt="Profile Picture">
                    </div>
                    <hr>

                    <h1 class="tm-title bold">{{ profiles.name }}</h1>
                    <h1 class="white bold">{{ profiles.job }}</h1>

                    <!--Where resume will go for resume preview (Has placeholder currently waiting for Noahs resume display feature to be completed)-->

                    </div>

            </div>
        </div>
    </header>
        <!-- about and languages section -->
    <section class="container">
        <div class="row">
            <div class="col-8">
                <div class="about">
                    <h3 class="accent">Schooling</h3>
                    <h4>{{ profiles.school1 }}</h4>
                    <p>{{ profiles.school1_info }}</p>
                    <h4>{{ profiles.school2 }}</h4>
                    <p>{{ profiles.school2_info }}</p>
                    <h4>{{ profiles.school3 }}</h4>
                    <p>{{ profiles.school3_info }}</p>
                </div>
            </div>
            <div class="col-4">
                <div class="languages">
                    <h2>Languages</h2>
                    <ul>
                        <li>{{ profiles.language1 }}</li>
                        <li>{{ profiles.language2 }}</li>
                        <li>{{ profiles.language3 }}</li>
                        <li>{{ profiles.language4 }}</li>
                        <li>{{ profiles.language5 }}</li>
                        <li>{{ profiles.language6 }}</li>
                        <li>{{ profiles.language7 }}</li>
                    </ul>
                </div>
        </div>
        </div>
    </section>
    <br>
           <!-- education and contact section -->
    <section class="container">
        <div class="row">
            <div class="col-8">
                <div class="experience">
                    <h2 class="white">Experiences</h2>
                    <div class="experience-content">
                        <h4 class="experience-title accent">{{ profiles.exp1 }}</h4>
                        <h5>{{ profiles.company1 }}</h5><span></span>
                        <h5>{{ profiles.dur1 }}</h5>
                        <p class="education-description">{{ profiles.desc1 }}</p>

                        <h4 class="experience-title accent">{{ profiles.exp2 }}</h4>
                        <h5>{{ profiles.company2 }}</h5><span></span>
                        <h5>{{ profiles.dur2 }}</h5>
                        <p class="education-description">{{ profiles.desc2 }}</p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                  <div class="contact">
                    <h2>Contact</h2>
                    <p><i class="fa fa-map-marker"></i>{{ profiles.address }}</p>
                    <p><i class="fa fa-phone"></i>{{ profiles.phone }}</p>
                    <p><i class="fa fa-envelope"></i>{{ profiles.email }}</p>
                    <p><i class="fa fa-globe"></i>{{ profiles.website }}</p>
                </div>

            </div>
            </div>
        </div>
    </section>

<br><br><br>



{% endblock %}

</html>
