<!doctype html>
{% extends "layout.html" %}
{% block head %}
    {{ super() }}

<title>Create Resume</title>
<head>
    <!--<link rel="stylesheet" type="text/css" href="static/styles_profile.css" media="screen" />-->
</head>


<div class="page">
    <h1>Create a Resume</h1>
  <form action="{{ url_for('create_resume') }}" method="post" class="create_resume">
    <dl>
      <dt>Name:
      <dd><input type="text" size="30" name="name">
      <dt>Age:
      <dd><input type="text" size = "30" name = "age">
      <dt>Work Experience:
      <dd><input type="text" size = "30" name = "work_exp">
      <dt>High School Education:
      <dd><input type="text" size = "30" name = "education_hs">
      <dt>College Education:
      <dd><input type="text" size = "30" name = "education_college">
      <dt>Graduated:
      <dd><input type="text" size = "30" name = "graduated">
        <a href= "/resumes" id="button">Submit</a>

    </dl>
  </form>
    {% endblock %}
</div>
