<head>
    <title>Sign Up</title>
    <link href="static/styles_login.css" rel="stylesheet" type="text/css">
</head>

<!--Classes connect to CSS file for styling-->
<div class="format-loginbox">
    <div class="logo-img"></div>
    <dl class="format-text">
        <dd class="login-text">
            <h2>Create an Account</h2>
        </dd>

        <!--Inputs for username and password-->
        <form action="{{ url_for('signup') }}" method="post">
            <input name="username" id="username" placeholder="Username" required>
            <input type="password" name="password" id="password" placeholder="Password" required>
            <input type="password" name="confirmpassword" id="confirmpassword" placeholder="Confirm Password" required>
            <input type="submit" value="Create Account">
        </form>

            <dd>Already have an Account? <a href="{{ url_for('login') }}">Log in</a></dd>

    </dl>
</div>