<html>
<!--Connects html doc to css doc -->
{% extends "layout.html" %}
{% block head %}
    {{ super() }}

<head>
    <link rel="stylesheet" type="text/css" href="static/styles_edit.css" media="screen" />
</head>

<body>

<div class = "page">
  <form action = "/insert_resume" method = "POST"
     enctype = "multipart/form-data">
     <input type = "file" name = "file" id = 'file' />
      <dt>Position:
      <dd><input type="text" size="30" name="position">
     <input type = "submit"/>
  </form>

 {% endblock %}
</div>

</body>

</html>
